<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul">

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Angular Material - Starter App</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
          <md-list>
            <md-list-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                  <md-icon md-svg-icon="svg-1" class="avatar"></md-icon>
                  {{it.userName}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <md-icon md-svg-icon="svg-1" class="avatar"></md-icon>
          <h2>{{ul.selected.userId}}</h2>
          <p>{{ul.selected.userName}}</p>
            <md-grid-list class="gridListdemoBasicUsage"
                    md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile class="gray">
                    <md-grid-tile-footer>
                        <h3>#1: (3r x 2c)</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="green">
                    <md-grid-tile-footer>
                        <h3>#2: (1r x 1c)</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="yellow">
                    <md-grid-tile-footer>
                        <h3>#3: (1r x 1c)</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="blue">
                    <md-grid-tile-footer>
                        <h3>#4: (2r x 1c)</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="red">
                    <md-grid-tile-footer>
                        <h3>#5: (2r x 2c)</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="green">
                    <md-grid-tile-footer>
                        <h3>#6: (2r x 1c)</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>

          <md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button>
        </md-content>

    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="../bower_components/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial','ngResource', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
