<md-dialog>
    <div ng-controller="newPostButtonController as newPostController" layout="column">
        <md-content layout-padding layout="row" layout-sm="column">
            <md-input-container>
                <textarea aria-label="newMsg" columns="1" ng-model="newPostController.text"></textarea>
            </md-input-container>
        </md-content>
    </div>
    <div ng-controller="UserController as userController" layout="column">
        <md-button ng-click="userController.savePost()">OK</md-button>
    </div>
</md-dialog>